@charset "utf-8";

@media all and (min-width: 15em)
{
    body            { background-color:orange }
    .row
    {
        padding:0 20px 0 20px;
        .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol
        {
            margin-bottom:10px;
        }
    }
    .mobile { display:block; }
    .desktop { display:none; }
    #header 
    {
        padding:$layout-margin-s / 2 0 $layout-margin-s / 2 0;

        .fivecol , .sevencol
        {
            margin:0px;
            float:left
        }

        .fivecol 
        {
            width:90%
        }

        .sevencol 
        {
            width:10%;
        }
    }
    .banner
    {
        height:100px;
        .page-title 
        {
            padding-top:70px;
        }
    }
    .modal
    {
        position:absolute;
    }

    .page 
    {
        padding-top:$layout-margin-s / 2;
    }
}

@media all and (min-width: 35em)
{
    body            { background-color:red }
}

@media all and (min-width: 40em)
{
    body            { background-color:yellow }
}

@media all and (min-width: 45em)
{
    body                { background-color:blue }
    article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object
                        { display:block }
    a img               { border:0 }
    figure              { position:relative }
    figure img          { width:100% }

    .row            
    {
        width: 100%; max-width: 1140px; min-width: 755px; margin-left:auto; margin-right:auto;padding-left:20px;padding-right: 20px;
        .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol
                        { margin-right: 3.8%; float: left; min-height: 1px; }
        .onecol         { width: 4.85%; }
        .twocol         { width: 13.45%; }
        .threecol       { width: 22.05%; }
        .fourcol        { width: 30.75%; }
        .fivecol        { width: 39.45%; }
        .sixcol         { width: 48%; }
        .sevencol       { width: 56.75%; }
        .eightcol       { width: 65.4%; }
        .ninecol        { width: 74.05%; }
        .tencol         { width: 82.7%; }
        .elevencol      { width: 91.35%; }
        .twelvecol      { width: 100%; float: left; }
        .last           { margin-right: 0px;}
        .sixcol.solo    {margin:auto;float:none;width:100%;}
    }
    .row:after      { content: ""; display: block; height: 0; clear: both; visibility: hidden; zoom: 1; }
    .row
    {
        .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol
        {
            margin-bottom:0;
        }
    }
    .mobile { display:none; }
    .desktop { display:block; }
    #header
    {
        padding:$layout-margin-s 0 $layout-margin-s 0;
        .fivecol , .sevencol
        {
            margin-right: 3.8%; 
            float:left
        }

        .last
        {
            margin-right:0px;
        }

        .fivecol 
        {
            width: 39.45%;
        }

        .sevencol 
        {
            width: 56.75%;
        }

    }
    .banner
    {
        height:100px;
        .page-title 
        {
            padding-top:110px;
        }
    }
    main
    {
        section 
        {
            form 
            {
                label , input[type='text'] , textarea , select
                {
                   // -webkit-appearance: none; 
                   //  -moz-appearance: none; 
                }
            }
        }
    }
    .modal
    {
        position:fixed;
    }
    .page 
    {
        padding-top:$layout-margin-s;
    }
}


@media all and (min-width: 60em)
{
    body            { background-color:purple }
    

}

@media all and (min-width: 70em)
{
    body            { background-color:green }
}

@media all and (min-width: 80em)
{
    body            { background-color:aqua }
}