.twitter-typeahead
{
    width:100%;
}

.tt-dropdown-menu
{
    background:white;
    width:100%;
    border:1px solid #eee;
    border-top:0;
    max-height:200px;
    overflow: scroll;
}
.tt-suggestion
{
    transition:0.2s;
    padding:10px;
    color:#333;
}
.tt-suggestion:hover
{
    background:#eee;
}