@import 'reset';
@import 'vars';
@import 'mixins';

#adminmenu .wp-menu-image img
{
    padding:5px 0 0;
}

.settings-form 
{
    p 
    {
        margin-bottom:$layout-margin-s;
    }
    fieldset
    {
        margin-bottom:$layout-margin-s;

        label , input
        {
            vertical-align: top;
        }
    }

    input[type='text']
    {
        padding:5px;
    }

    input[type='checkbox']
    {
        margin:0;
        margin-right:3px;
    }
}

#feedback , .auth-notification
{
    font-weight: bold;
    padding:$layout-margin-s/2;
    margin-top:$layout-margin-s;
}

.auth-notification
{
    margin:$layout-margin-s 0 $layout-margin-s 0;
}

#feedback.success , .auth-notification.success
{
    border:1px solid lighten(green , 10%);
    background-color:lighten(green , 60%);
    color:lighten(green , 10%);
}

#feedback.failure , .auth-notification.failure
{
    border:1px solid lighten(red , 10%);
    background-color:lighten(red , 40%);
    color:lighten(red , 10%);
}

#stackla-metabox
{

    label 
    {
        font-weight: bold;
        margin-bottom:10px;
    }
    label , input[type='text'] , select
    {
        display:block;
    }
    select.hide
    {
        display: none;
    }
    select.display 
    {
        display: block;
    }
    input[type='text'].widefat
    {
        padding:10px;
    }
    .jsx-metabox
    {
        section 
        {
            margin-bottom: 10px;
        }
        header
        {
            margin-bottom:10px;
            h2 
            {
                margin:0;
            }
            h2 , a 
            {
                display:inline-block;
                margin-right:10px;
            }
        }
    }
    .stackla-widget-section
    {
        padding:10px;
        border:1px solid white;
        fieldset
        {
            display: inline-block;
            margin-right:20px;
            
            label.hide 
            {
                display:none;
            }
            label.display 
            {
                display:block;
            }
            label.checkbox
            {
                vertical-align: top;
                display: inline-block;
            }
        }
        fieldset.term-name , fieldset.widget-title
        {
            display:block;
        }
        fieldset.term-name
        {
            margin-bottom:10px;
        }
        .term-values
        {
            fieldset.hide
            {
                display:none;
            }
            fieldset.display 
            {
                display:inline-block;
            }
            .decorator 
            {
                display: inline-block;
                padding:2px 5px 1px 5px;
                background-color:#eee;
            }
            input[type='text']
            {
                display: inline-block;
                max-width:200px;
            }
        }
    }
    .stackla-block
    {
        margin-bottom:10px;
    }
    .stackla-block:last-child
    {
        margin:0;
    }
    .stackla-widget-error
    {
        border:1px solid lighten(red , 35%);
        background-color:lighten(red , 40%)
    }
    .stackla-error-message
    {
        border:1px solid lighten(red , 35%);
        border-top:0;
        background-color:lighten(red , 35%);
        padding:10px;
        color:red;
    }
}