@import 'reset';
@import 'vars';
@import 'mixins';

#adminmenu .wp-menu-image img
{
    padding:5px 0 0;
}

form 
{
    p 
    {
        margin-bottom:$layout-margin-s;
    }
    fieldset
    {
        margin-bottom:$layout-margin-s;

        label , input
        {
            vertical-align: top;
        }
    }
}

#feedback
{
    font-weight: bold;
    padding:$layout-margin-s/2;
    margin-top:$layout-margin-s;
}

#feedback.success
{
    border:1px solid lighten(green , 10%);
    background-color:lighten(green , 60%);
    color:lighten(green , 10%);
}

#feedback.failure
{
    border:1px solid lighten(red , 10%);
    background-color:lighten(red , 40%);
    color:lighten(red , 10%);
}