@import 'reset';
@import 'vars';
@import 'mixins';

#adminmenu .wp-menu-image img
{
    padding:5px 0 0;
}

form 
{
    p 
    {
        margin-bottom:$layout-margin-s;
    }
    fieldset
    {
        margin-bottom:$layout-margin-s;

        label , input
        {
            vertical-align: top;
        }
    }
}

#feedback
{
    font-weight: bold;
    padding:$layout-margin-s/2;
    margin-top:$layout-margin-s;
}

#feedback.success
{
    border:1px solid lighten(green , 10%);
    background-color:lighten(green , 60%);
    color:lighten(green , 10%);
}

#feedback.failure
{
    border:1px solid lighten(red , 10%);
    background-color:lighten(red , 40%);
    color:lighten(red , 10%);
}

#stackla-metabox
{
    fieldset
    {
        margin-bottom:20px;
    }
    label 
    {
        font-weight: bold;
        margin-bottom:10px;
    }
    label , input[type='text'] , select
    {
        display:block;
    }
    select.hide
    {
        display: none;
    }
    select.display 
    {
        display: block;
    }
    input[type='text'].widefat
    {
        padding:10px;
    }
    .react-template
    {
        section 
        {
            margin-bottom: 10px;
        }
        header
        {
            margin-bottom:10px;
            h2 
            {
                margin:0;
            }
            h2 , a 
            {
                display:inline-block;
                margin-right:10px;
            }
        }
    }
    .network-select , .stackla-filter
    {
        fieldset
        {
            display: inline-block;
            margin-right:20px;
            margin-bottom:10px;
            label.hide 
            {
                display:none;
            }
            label.display 
            {
                display:block;
            }
            label.checkbox
            {
                display: inline-block;
            }
        }
        fieldset.term-name
        {
            display:block;
        }

        .rule-values
        {
            fieldset.hide
            {
                display:none;
            }
            fieldset.display 
            {
                display:inline-block;
            }
            .decorator 
            {
                display: inline-block;
                padding:2px 5px 1px 5px;
                background-color:#eee;
            }
            input[type='text']
            {
                display: inline-block;
                max-width:200px;
            }
        }
    }
}